* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001D3C;
    color: white;
}

a {
    color: white;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #001D3C;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

#solar-system-graphic {
    position: center;
    /*width: 1728px;
    height: 2053px*/
    width: 100%;
    /*left: 0px;
    top: 100px;*/
}

.planet {
    
}

.main-facts {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.planet-summary {
    width: 400px;
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 150px;
}

.data {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

#data-sun {
    background-color: #FFDB4E;
}

#data-mercury {
    background-color: #595959;
}

#data-venus {
    background-color: #A96500;
}

#data-earth {
    background-color: #00E0FF;
}

#data-moon {
    background-color: #D9D9D9;
}

#data-mars {
    background-color: #E25100;
}

#data-jupiter {
    background-color: #FF8A00;
}

#data-saturn {
    background-color: #F4E176;
}

#data-uranus {
    background-color: #00FFFF;
}

#data-neptune {
    background-color: #0067C7;
}

#data-pluto {
    background-color: #BFA79A;
}

.fact {
    display: block;
    text-shadow: 0px 0px 2px black;
}

#Sun {
    position: center;
    width: 300px;
    height: 300px;
}

#Mercury {
    position: center;
    width: 300px;
    height: 300px;
}

#Venus {
    position: center;
    width: 300px;
    height: 300px;
}

#Earth {
    position: center;
    width: 300px;
    height: 300px;
}

#Moon {
    position: center;
    width: 300px;
    height: 300px;
}

#Mars {
    position: center;
    width: 300px;
    height: 300px;
}

#Jupiter {
    position: center;
    width: 300px;
    height: 300px;
}

#Saturn {
    position: center;
    width: 550px;
    height: 300px;
}

#Uranus {
    position: center;
    width: 300px;
    height: 300px;
}

#Neptune {
    position: center;
    width: 300px;
    height: 300px;
}

#Pluto {
    position: center;
    width: 300px;
    height: 300px;
}